<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Darček</title>
</head>
<body>
    <div id="confetti-container"></div>

    <div class="gift-container">
        <!-- Krásny veľký darček -->
        <div class="gift" id="giftBox">
            <div class="lid" id="lid"></div>
            <div class="box" id="box">🎁</div>
            <div class="gift" id="giftBox">
                <div class="ribbon-horizontal"></div>
                <div class="ribbon-vertical"></div>
                <div class="bow"></div>
            </div>
            
        </div>
        <!-- Tulipány -->
        <div class="tulips" id="tulips">
            <img src="dd-removebg-preview.png" alt="Tulipán" class="tulip">
            <img src="sa-removebg-preview.png" alt="Tulipán" class="tulip">
            <img src="adadadaad-removebg-preview.png" alt="Tulipán" class="tulip">
        </div>
        <!-- Text „For You“ -->
        <div class="message" id="message">
            For You
        </div>
    </div>

    <script src="darcek.js"></script>
    <link rel="stylesheet" href="darcek.css">
</body>
</html>
